<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="temp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile_programming_Recipe_Recommendations"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FindUserIDActivity"/>
        <activity android:name=".FindUserPasswordActivity"/>
        <activity android:name=".JoinTheMembershipActivity"/>

        <activity android:name=".MainActivity"/>

        <activity android:name=".MyRefrigerator"/>
        <activity android:name=".AddIngredients"/>

        <activity android:name=".RecipeView"/>
        <activity android:name=".RecommendActivity"/>

        <activity android:name=".Recommend"/>

        <activity android:name=".recipeActivity"/>
    </application>

</manifest>